@media screen and (min-width: 320px) {
  .movie-details-container {
    grid-template-columns: 1fr;
    margin: 15px;
  }
  img .img_moviedetails {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .movie-details-content {
    grid-template-columns: 1fr;
    margin: 15px;
    align-self: center;
    justify-self: center;
  }

  .movie-details-title {
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    font-style: italic;
  }
  .add_information {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
  }
  .cast-info-review {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
  }
  .add-info {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    line-height: 1.5;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 0.8rem;
    color: white;
    background-color: #333;
    border-radius: 20px;
  }
}
@media screen and (min-width: 780px) {
  .movie-details-container {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    line-height: 1.5;
    color: #333;
  }

  .movie-details-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    box-sizing: border-box;
  }

  .text-details {
    display: flex;
    flex-direction: column;
  }
  .button_link {
    color: black;
    justify-content: left;
  }

  .date {
    padding-left: 5px;
  }
  .info {
    font-weight: 400;
    line-height: 20px;
    line-height: 1.5;
  }
  .add-info {
    font-weight: 700;
    line-height: 20px;
    line-height: 1.5;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 0.8rem;
    color: white;
    background-color: #333;
    border-radius: 20px;
  }

  .info_view {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    line-height: 1.5;
  }
  .info_view-genres {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    line-height: 1.5;
  }
  .add_information {
    padding-top: 10px;
  }
  .img_moviedetails {
    width: 320px;
    height: auto;
  }
}
.movie-details-title {
  text-align: center;
  font-size: 28px;
  font-style: italic;
}
.add_information {
  text-align: center;
  font-size: 20px;
}
.cast-add-info {
  text-decoration: none;
}
