.cast-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 10px;
}
.class-info-character {
  box-sizing: border-box;
  margin: 0px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 5px;
  word-break: break-all;
}

.name-actors {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  line-height: 1.5;
  color: black;
  text-align: center;
}
.circle-img {
  display: block;
  border-radius: 5px;
}
.name-character {
  font-style: italic;
  font-size: 10px;
  font-weight: 400;
  box-sizing: border-box;
}
