.MovieGallery {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px;
  margin: 50px auto 0px;
  padding: 0;
  list-style: none;
}

.MovieGalleryList {
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.MovieGalleryList:hover {
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.Movie {
  margin: 15px;
}
.MovieLink {
  text-align: center;
  display: block;
  text-align: center;
  text-decoration: none;
  padding-bottom: 5px;
}
.movie-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.8;
  color: black;
}
.today {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.8;
  text-align: center;
}
.info_view {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.8;
  color: black;
  padding-left: 5px;
}
