.MovieGallery {
  display: grid;
  max-width: calc(-36px + 100vw);
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px;
}

.MovieGalleryList {
  overflow: hidden;
  margin: 0px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  border: medium;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-bottom: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.img {
  display: block;
  border-radius: 10px;
  width: 100%;
  height: auto;
  border: 2px solid antiquewhite;
  align-self: center;
  z-index: 3;
  position: relative;
}

.MovieGalleryList:hover {
  transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.Movie {
  margin: 15px;
}
.MovieLink {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  align-items: center;
}
.movie-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  margin-right: 3px;
}
.today {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  line-height: 1.8;
  text-align: center;
  color: #333;
}
.info_views {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #333;
  padding-left: 5px;
}

.img_title {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 270px;
}
