.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 100px;
  height: 32px;
  border: 0;
  opacity: 0.6;
  cursor: pointer;
  outline: none;
  margin-left: 15px;
}
.searchbar {
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  border-radius: 1px solid rgb(185, 182, 182);
}

.icon {
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-items: center;
  top: 20%;
  left: 30%;
  bottom: 20%;
  position: relative;
  stroke-width: 0;
  stroke: grey;
  fill: grey;
  text-align: center;
}
.error {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 45px;
  display: flex;
  text-align: center;
}
